<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Sent Box </h4>
        </div>
        <div class=" card-body" *ngIf="notifications?.length > 0;else notification">
          <ngb-alert class=" alert-with-icon" data-notify="container" [type]="'info'" [dismissible]="false"
            *ngFor="let notification of notifications">
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>

            <span data-notify="message" style="font-size: medium;">
              <label style="font-size: small;"> Subject : </label> {{notification.subject}}<br>
              <label style="font-size: small;"> Message : </label> {{notification.message}}<br>
              {{notification.dateTime | date:'yyyy/MM/dd  h:mm:ss'}}

            </span>
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-body">
          <div class="card" style="width:auto;">
            <div class=" card-header">
              <h4 class=" card-title">Create Message</h4>
            </div>
            <form #form='ngForm' autocomplete="off" (ngSubmit)="onsubmit(form)">

              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Subject </label>
                    <input class=" form-control" name="subject" #subject="ngModel" [(ngModel)]="addNot.subject"
                      placeholder="Enter subject" type="text" required />
                    <span *ngIf="subject.invalid && subject.touched" class="validation-error"
                      style="color: red;">*required</span>

                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Message </label>
                    <textarea class=" form-control" name="message" #message="ngModel" [(ngModel)]="addNot.message"
                      placeholder="Enter message" type="text" required>
                    </textarea>
                    <span *ngIf="message.invalid && message.touched" class="validation-error"
                      style="color: red;">*required</span>
                  </div>
                </div>
              </div>
              <div class=" card-footer">
                <button style="width: 170px;" class=" btn btn-fill btn-warning" type="submit" value="submit"
                  [disabled]="!form.valid" name="send">Send</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>