<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card card-user">
        <div class=" card">
          <div class=" card-header">
            <h5 class=" title">Update Trains</h5>
          </div>
          <div class=" card-body">

            <form #form="ngForm" (ngSubmit)="onsubmit(form)" autocomplete="off">

              <input class=" form-control" disabled="" name="id" #id="ngModel" [(ngModel)]="TrainToEdit.id"
                placeholder="id" type="hidden" />

              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Train Number</label>
                    <input class=" form-control" name="trainnmber" #trainnmber="ngModel"
                      [(ngModel)]="TrainToEdit.trainNumber" placeholder="Train number" type="text" required />
                    <span *ngIf="trainnmber.invalid && trainnmber.touched" class="validation-error"
                      style="color: red;">*required</span>
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Train Name </label>
                    <input class=" form-control" placeholder="Train Name" type="text" name="trainname"
                      #trainname="ngModel" [(ngModel)]="TrainToEdit.trainName" required />
                    <span class="validation-error" style="color: red;"
                      *ngIf="trainname.invalid && trainname.touched">*required</span>
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">

                    <label for="traintype">Choose Train Type: </label>
                    <br />
                    <select name="traintype" id="traintype" class="btn dropdown-toggle" #traintype="ngModel"
                      [(ngModel)]="TrainToEdit.trainType">
                      <option></option>
                      <option value="Express">Express</option>
                      <option value="Intercity">Intercity</option>
                      <option value="LongDistance">Long Distance</option>
                      <option value="Night">Night</option>
                    </select>
                    <span class="validation-error" *ngIf="traintype.invalid && traintype.touched"
                      style="color: red;">*required</span>
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label for="runtime">Choose Run Time: </label>
                    <br />
                    <select name="runtime" id="runtime" #runtime="ngModel" [(ngModel)]="TrainToEdit.dailyOrweekend"
                      class="btn dropdown-toggle">
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekends">Weekends</option>
                      <option value="Special">Special</option>
                    </select>
                    <span class="validation-error" *ngIf="runtime.invalid && runtime.touched"
                      style="color: red;">*required</span>
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">


                    <label for="startStaion">Choose Start Staion: </label>
                    <br />
                    <select name="startStaion" id="startStaion" class="btn dropdown-toggle" #startStaion="ngModel"
                      [(ngModel)]="TrainToEdit.startStaion" required>
                      <option value="Colombo Fort"> Colombo Fort </option>
                      <option value="Maradana"> Maradana </option>
                      <option value="Ragama"> Ragama </option>
                      <option value="Gampaha"> Gampaha </option>
                      <option value="Veyangoda"> Veyangoda </option>
                      <option value="Polgahawela"> Polgahawela </option>
                      <option value="Rambukkana"> Rambukkana </option>
                      <option value="Peradeniya"> Peradeniya </option>
                      <option value="Nawalapitiya"> Nawalapitiya </option>
                      <option value="Hatton"> Hatton </option>
                      <option value="Nanu Oya"> Nanu Oya </option>
                      <option value="Bandarawela"> Bandarawela </option>
                      <option value="Badulla"> Badulla </option>
                      <option value="Kandy"> Kandy </option>
                      <option value="Katugastota"> Katugastota </option>
                      <option value="Matale"> Matale </option>
                      <option value="Negombo"> Negombo </option>
                      <option value="Chilaw"> Chilaw </option>
                      <option value="Puttalam"> Puttalam </option>
                      <option value="Avissawella"> Avissawella </option>
                      <option value="Anuradhapura"> Anuradhapura </option>
                      <option value="Vavuniya"> Vavuniya </option>
                      <option value="Kilinochchi"> Kilinochchi </option>
                      <option value="Kodikamamam"> Kodikamamam</option>
                      <option value="Chavakachcheri"> Chavakachcheri </option>
                      <option value="Kankesanthurai"> Kankesanthurai </option>
                      <option value="Mannar"> Mannar </option>
                      <option value="Talaimannar"> Talaimannar </option>
                      <option value="Maho"> Maho </option>
                      <option value="Polonnaruwa"> Polonnaruwa </option>
                      <option value="Valaichchenai"> Valaichchenai </option>
                      <option value="Kollupitiya"> Kollupitiya </option>
                      <option value="Moratuwa"> Moratuwa </option>
                      <option value="Panadura"> Panadura </option>
                      <option value="Aluthgama"> Aluthgama</option>
                      <option value="Bentota"> Bentota</option>
                      <option value="Balapitiya"> Balapitiya</option>
                      <option value="Ambalangoda"> Ambalangoda</option>
                      <option value="Hikkaduwa"> Hikkaduwa</option>
                      <option value="Galle"> Galle</option>
                      <option value="Matara"> Matara</option>
                      <option value="Hambantota"> Hambantota</option>
                      <option value="Beliatta"> Beliatta</option>
                      <option value="Kataragama"> Kataragama</option>
                    </select>
                    <span class="validation-error" *ngIf="startStaion.invalid && startStaion.touched"
                      style="color: red;">*required</span>
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label for="runtime">Choose end Staion: </label>
                    <br />
                    <select name="endStaion" id="endStaion" class="btn dropdown-toggle" #endStaion="ngModel"
                      [(ngModel)]="TrainToEdit.endStaion" required>
                      <option value="Colombo Fort"> Colombo Fort </option>
                      <option value="Maradana"> Maradana </option>
                      <option value="Ragama"> Ragama </option>
                      <option value="Gampaha"> Gampaha </option>
                      <option value="Veyangoda"> Veyangoda </option>
                      <option value="Polgahawela"> Polgahawela </option>
                      <option value="Rambukkana"> Rambukkana </option>
                      <option value="Peradeniya"> Peradeniya </option>
                      <option value="Nawalapitiya"> Nawalapitiya </option>
                      <option value="Hatton"> Hatton </option>
                      <option value="Nanu Oya"> Nanu Oya </option>
                      <option value="Bandarawela"> Bandarawela </option>
                      <option value="Badulla"> Badulla </option>
                      <option value="Kandy"> Kandy </option>
                      <option value="Katugastota"> Katugastota </option>
                      <option value="Matale"> Matale </option>
                      <option value="Negombo"> Negombo </option>
                      <option value="Chilaw"> Chilaw </option>
                      <option value="Puttalam"> Puttalam </option>
                      <option value="Avissawella"> Avissawella </option>
                      <option value="Anuradhapura"> Anuradhapura </option>
                      <option value="Vavuniya"> Vavuniya </option>
                      <option value="Kilinochchi"> Kilinochchi </option>
                      <option value="Kodikamamam"> Kodikamamam</option>
                      <option value="Chavakachcheri"> Chavakachcheri </option>
                      <option value="Kankesanthurai"> Kankesanthurai </option>
                      <option value="Mannar"> Mannar </option>
                      <option value="Talaimannar"> Talaimannar </option>
                      <option value="Maho"> Maho </option>
                      <option value="Polonnaruwa"> Polonnaruwa </option>
                      <option value="Valaichchenai"> Valaichchenai </option>
                      <option value="Kollupitiya"> Kollupitiya </option>
                      <option value="Moratuwa"> Moratuwa </option>
                      <option value="Panadura"> Panadura </option>
                      <option value="Aluthgama"> Aluthgama</option>
                      <option value="Bentota"> Bentota</option>
                      <option value="Balapitiya"> Balapitiya</option>
                      <option value="Ambalangoda"> Ambalangoda</option>
                      <option value="Hikkaduwa"> Hikkaduwa</option>
                      <option value="Galle"> Galle</option>
                      <option value="Matara"> Matara</option>
                      <option value="Hambantota"> Hambantota</option>
                      <option value="Beliatta"> Beliatta</option>
                      <option value="Kataragama"> Kataragama</option>
                    </select>
                    <span class="validation-error" *ngIf="endStaion.invalid && endStaion.touched"
                      style="color: red;">*required</span>
                  </div>
                </div>
              </div>
              <!-- <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">

                    <label for="traintype">Choose Start Time: </label>
                    <br />
                    <div class=" col-md-6 pr-md-1">
                      <div class=" form-group">
                        <input class=" form-control" type="time" name="starttime" #starttime="ngModel"
                          [(ngModel)]="TrainToEdit.startTime" atp-time-picker value="{{TrainToEdit.startTime}}" />
                          <span class="validation-error" *ngIf="TrainToEdit.invalid && TrainToEdit.touched" style="color: red;">*required</span>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label for="runtime">Choose end Time: </label>
                    <br />
                    <div class=" col-md-6 pr-md-1">
                      <div class=" form-group">
                        <input class=" form-control" type="time" atp-time-picker value="20:55" />
                        <span class="validation-error" style="color: red;">*required</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class=" card-footer">
                <table>
                  <tr>

                    <td><button class=" btn btn-fill btn-info" type="submit" [disabled]="!form.valid" value="submit"
                        name="submit">Update</button></td>
                    <td width=20></td>

                    <td><button class=" btn btn-fill btn-warning" (click)="clear()" [disabled]="!form.valid"
                        type="submit" value="reset" name="reset">Reset</button>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>

        </div>


      </div>
    </div>


    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">

          <div class="card" style="width:auto;">
            <div class="card-header" style="height: 75px; background-color:#CACFD2;">
              <div class="active-pink-3 active-pink-4 mb-4">
                <div class=" row">
                  <div class=" col-md-6 pr-md-1">
                    <input class="form-control" [(ngModel)]="searchSctram2" (input)="searchtrains($event)"
                      style="color: black;" type="text" placeholder="Search by Train Name" aria-label="Search">
                  </div>
                  <div class=" col-md-6 pr-md-1">
                    <input class="form-control" [(ngModel)]="searchSctram3" (input)="searchtrains2($event)"
                      style="color: black;" type="text" placeholder="Search by Train Number" aria-label="Search">
                  </div>
                </div>

              </div>
            </div>
            <ul *ngFor="let train of trainD" class="list-group list-group-flush">
              <a class="secondary-content">
                <li class="list-group-item" style="height: 10; background-color:#566573;" (mouseenter)="onEdit(train)">
                  <center>
                    <table style="width:fit-content">
                      <tr>
                        <td width="75">
                          {{train.trainNumber}} : {{train.trainName}}
                        <td width="200" align="right">
                          <!-- <button (click)="onDelete(users.id)" class="btn btn-danger">X</button> -->
                          <i class=" tim-icons icon-simple-remove" (click)="onDelete(train.id)"
                            style="color:rgb(236, 129, 5) ;"></i>
                        </td>
                      </tr>
                    </table>
                  </center>
                </li>
              </a>
            </ul>
          </div>

        </div>

      </div>
    </div>





  </div>
</div>