<app-home-nav></app-home-nav>
<br />
<br />
<div style="color: wheat;">
    <div class=" photo">
        <center>
            <img alt="Profile Photo" src="assets/img/last.png" width="15%" />
            <br> <br> <br>
            <div style="font-size: 20px;">
                Version 1.0.0 <br>
                Developed By Group 28<br />
            </div>
            <br />
        </center>
    </div>

    <center>
        <div class=" col-md-8">
            <div style="font-size: 15px;">
                <b>Software License Agreement</b>
            </div>
            <br />
            <br />
            <div>THIS APPLICATION IS LICENSED TO YOU ON THE CONDITION YOU ACCEPT ALL OF THE TERMS CONTAINED HEREIN. YOU
                ARE
                STRONGLY ADVISED TO READ THE LICENSE AGREEMENT CAREFULLY BEFORE INSTALLING OR USING THE APPLICATION. BY
                INSTALLING OR USING THE APPLICATION, YOU AGREE TO BE BOUND BY THE TERMS OF THE LICENSE AGREEMENT. IF YOU
                DO
                NOT
                AGREE TO THESE TERMS, KOOCHCIYA-KO PVT LTD CAN NOT GRANT LICENSE OF THE APPLICATION TO YOU AND YOU
                SHOULD
                NOT
                INSTALL OR USE THE APPLICATION.</div>
            <br /><br />

            <b> Use of Service</b><br />

            <div>Support may be provided through email.
                Technical and usage information is provided in the documentation and help files and provides support for
                issues
                your technical administrator is unable to resolve, where the information has been provided in the
                documentation
                or help files not include on-site help.
                Assistance with issues encountered during installation and setup. User support for issues not included
                in
                the
                help files.
                Repairing bugs. </div>
            <br /><br />

            <b>Installation</b>
            <br />
            <div>We offer android application and ios application for installation. No need to set up anything.
                Installation
                includes all settings that are required. All data loads to device when device connected to the internet.
            </div>
            <br /><br />
            <b> Support not included</b>
            <br />
            <div> Customizing the program for.
                Updating a modified version of the program.
                Importing your data
                Recovering data deleted by users.
                Repairing corrupt database files
                Resolving issues with your network, hardware, server configuration, or other software applications.
                Repairing problems caused by you or your employees.
                Repairing problems caused by users while modifying the customizable edition of the system. </div>
            <br /><br />

            <b>Changes to the service</b>
            <br />
            <div>Kochchiya ko reserves the right to change, modify, update, upgrade, suspend or discontinue the Services
                at
                any
                time without any notification to you.</div>
            <br /><br />
            <b>Software Freedom</b>
            <br />
            <div>The freedom to deploy the software for any use case without any restrictions.
                The freedom to study how the software works.
                The freedom to freely re-distribute the software to assist someone in need. The redistribution can be
                done
                at no
                cost. </div>
            <br /><br />
            <b>Additional Support</b>
            <br />
            <div> On-site support may be contracted for customers needing additional help. </div>
            <br /><br />
            <b>Data Protection and privacy</b>
            <br />
            <div> Data access available only to admin.
                Use a hashcode for all passwords.
                OTPs passwords that are only valid for a single login session for a defined period of time. </div>
            <br /><br />

            <b>Permitted and Restricted for users uses</b>
            <br />
            <div> Con not sell the application.
                Can share the application </div>



        </div>
    </center>
</div>
<br /><br />
<app-homefooter></app-homefooter>