<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Edit Profile</h5>
        </div>
        <div class=" card-body">

          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Phone Number</label>
                  <input class=" form-control" disabled="" placeholder="Phone number" type="text"
                    value="{{phonenumberHTML}}" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input class=" form-control" placeholder="First name" type="text" value="{{firstnameHTML}}" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input class=" form-control" placeholder="Last Name" type="text" value="{{lastnameHTML}}" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Email </label>
                  <input class=" form-control" placeholder="Email" type="text" value="{{emailHTML}}" />
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <img class=" avatar" src="https://img.icons8.com/bubbles/100/000000/user-female-circle.png" />
            <h5 class=" title">Registerd Users List</h5>
          </div>
          <div class=" card-description">
          </div>

          <!-- <input type="text" [(ngModel)]="searchStream" (change)="search($event)" /> -->

          <div class="card" style="width:auto;">
            <div class="card-header" style="height: 75px; background-color:#CACFD2;">
              <div class="active-pink-3 active-pink-4 mb-4">
                <input class="form-control" style="color: black;" type="text" placeholder="Search" aria-label="Search">
              </div>
            </div>
            <ul *ngFor="let users of users" class="list-group list-group-flush">
              <a class="secondary-content">
                <li class="list-group-item" style="height: 10; background-color:#566573;"
                  (click)="editAccount($event,users)">
                  <center>
                    {{users.phoneno}}


                    <!-- <div *ngIf="editState && userToEdit.id == users.id">
                    <form (ngSubmit)="updateItem(users)">
                      <div class="row">
                        <div class="input-field col s6">
                          <input type="text" placeholder="Add Title" [(ngModel)]="users.phoneno" name="title" class="hidden">
                        </div>
                        <div class="input-field col s6">
                          <input type="text" placeholder="Add Description" [(ngModel)]="users.firstname"
                            name="description">
                        </div>
                        <input type="submit" value="Update Item" class="btn orange">
                      </div>
                    </form>
                  </div> -->

                  </center>
                </li>
              </a>
            </ul>
          </div>

        </div>
        <!-- <div class=" card-footer">
          <div class=" button-container">
            <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
              <i class=" fab fa-facebook"> </i>
            </button>
            <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
              <i class=" fab fa-twitter"> </i>
            </button>
            <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>