<div class=" content">
  <div class=" row">
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-header">
          <h5 class=" title">Image</h5>
        </div>
        <div class=" card-body">
          <center>
            <img src="../../../assets/img/IOT.png" />
          </center>

        </div>
      </div>
    </div>

    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-header">
          <h5 class=" title">Tracker Details</h5>
        </div>

        <div class=" card-body">
          <div class="card" style="width:auto;">

            <form #form2='ngForm' (ngSubmit)="onsubmitactORdect(form2)" autocomplete=" off">

              <input style="background-color: silver;" class=" form-control" placeholder="Device ID" name="deviceid"
                disabled #deviceid="ngModel" [(ngModel)]="DeviceToEdit.id" type="hidden" required />

              <div class=" row">
                <div class=" col-md-5 pr-md-1">
                  <div class=" form-group">
                    <label> Device ID</label>
                    <input style="background-color: silver;" class=" form-control" placeholder="Device ID"
                      name="deviceid" disabled #deviceid="ngModel" [(ngModel)]="DeviceToEdit.deviceid" type="text"
                      required />
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Active States </label>
                    <input style="background-color: rgb(169, 241, 202); font-weight: bold; color: red;" disabled
                      class=" form-control" placeholder="Active State" type="text" name="activestates"
                      value="{{actState}}" />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Assigned train </label>
                    <input style="background-color: silver;" disabled class=" form-control" placeholder="Assigned Train"
                      type="text" name="assignedtrain" #assignedtrain="ngModel"
                      [(ngModel)]="DeviceToEdit.assignedtrain" />
                  </div>
                </div>
              </div>
              <div class=" card-footer">
                <table>
                  <tr>
                    <td><button style="width: fit-content;" class=" btn btn-fill btn-success" type="submit"
                        (click)="activate()" [disabled]="!DeviceToEdit.activestates ">Activate</button></td>
                    <td width="20"></td>
                    <td><button style="width: fit-content;" class=" btn btn-fill btn-danger" type="submit"
                        (click)="deactivate()" [disabled]=" !DeviceToEdit.activestates  ">Deactivate</button>
                    </td>
                  </tr>
                </table>

              </div>
            </form>
          </div>
        </div>


      </div>
    </div>

    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-header">
          <h5 class=" title">Tracker List</h5>
        </div>
        <div class=" card-body">
          <div class="card" style="width:auto;">

            <form #form='ngForm' autocomplete="off" (ngSubmit)="onsubmit(form)">

              <div class=" row">
                <div class=" col-md-5 pr-md-1">
                  <div class=" form-group">
                    <label> Device ID</label>
                    <input class=" form-control" name="deviceid" #deviceid="ngModel" [(ngModel)]="deviceData.deviceid"
                      type="text" required />
                  </div>
                </div>
                <div class=" col-md-5 pl-md-1">
                  <div class=" form-group">
                    <label> Assigned train </label>
                    <select name="assignedtrain" #trainid="ngModel" [(ngModel)]="deviceData.assignedtrain"
                      id="assignedtrain" class="form-control btn dropdown-toggle" required>
                      <option *ngFor="let train of trainDetails" value="{{train.id}}">{{train.id}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" card-footer">
                <button style="width: 170px;" class=" btn btn-fill btn-info" type="submit" value="submit"
                  [disabled]="!form.valid" name="submit">Add
                  to list</button>
              </div>

            </form>



            <div class="card" style="width:auto;">
              <div class="card-header" style="height: 75px; background-color:#CACFD2;">
                <div class="active-pink-3 active-pink-4 mb-4">
                  <input class="form-control" [(ngModel)]="searchterm" (input)="search($event)" style="color: black;"
                    type="text" placeholder="Search" aria-label="Search">
                </div>
              </div>
              <ul *ngFor="let dv of device" class="list-group list-group-flush">
                <a class="secondary-content">
                  <li class="list-group-item" style="height: 10; background-color:#566573;" (mouseenter)="onEdit(dv)">
                    <center>
                      <table style="width:fit-content">
                        <tr>
                          <td width="200">
                            <b style="color: rgb(226, 194, 213);">{{dv.deviceid}} </b> <span
                              style="color: rgb(131, 128, 130);"> --> </span>
                            {{dv.assignedtrain}}
                            <!-- {{users.dateTime.toDate() | date:'yyyy/MM/dd h:mm:ss a'}} -->
                          </td>
                          <td width="200" align="right">
                            <!-- <button (click)="onDelete(dv.id)" class="btn btn-danger">X</button> -->
                            <i (click)="onDelete(dv.id)" class=" tim-icons icon-simple-remove"
                              style="color:rgb(236, 129, 5) ;"></i>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </li>
                </a>
              </ul>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>