<!-- <app-home-nav></app-home-nav>
<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card" style="margin-top: 50px;">
        <div class=" card-header">
          <div class="head">
            <h1>Just ask.<br> Get answers <img class="img1" src="../../../../../assets/img/last.png"
                style="width: 150px; height: 150px; margin-left: 80px; align-self: right;"></h1>
            <h3>Find us here!</h3>
            <h4><u>contact@kochchiyako.com</u></h4>
            <img class="img1" src="../../../../../assets/img/facebook.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px;">
            <img class="img1" src="../../../../../assets/img/twitter.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; margin: 15px;">
            <img class="img1" src="../../../../../assets/img/google-plus.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; ">
            <img class="img1" src="../../../../../assets/img/spotify.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; margin: 15px; ">



          </div>
        </div>
      </div>

    </div>
    <div class=" col-md-6">
      <div class=" card" style="margin-top: 50px;">
        <div class=" card-body">
          <div class="card" style="width:auto;">
            <div class=" card-header">
              <h4 class=" card-title">Get In Touch</h4>
            </div>
            <form (ngSubmit)="onSubmit()">
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label>Name </label>
                    <input class=" form-control" placeholder="Your name" type="text" #name="ngModel"
                      [(ngModel)]="addmessages.name" [ngModelOptions]="{standalone: true}" name="name" required />

                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label>Email</label>

                    <input class=" form-control" placeholder="Email " type="text" #email="ngModel"
                      [(ngModel)]="addmessages.email" [ngModelOptions]="{standalone: true}" name="email" required />


                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Message </label>
                    <textarea class=" form-control" cols="80" placeholder="Enter your message" rows="4" value="Mike"
                      #message="ngModel" [(ngModel)]="addmessages.message" [ngModelOptions]="{standalone: true}"
                      required>

                </textarea>
                  </div>
                </div>
              </div>

              <div class=" card-footer">
                <button style="width: 170px;" class=" btn btn-fill btn-warning" type="submit" value="submit"
                  name="send">Send</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>


  <app-homefooter></app-homefooter> -->





<app-home-nav></app-home-nav>
<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card" style="margin-top: 50px;">
        <div class=" card-header">
          <div class="head">
            <h1>Just ask.<br> Get answers <img class="img1" src="../../../../../assets/img/last.png"
                style="width: 150px; height: 150px; margin-left: 80px; align-self: right;"></h1>
            <h3>Find us here!</h3>
            <h4><u>contact@kochchiyako.com</u></h4>
            <img class="img1" src="../../../../../assets/img/facebook.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px;">
            <img class="img1" src="../../../../../assets/img/twitter.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; margin: 15px;">
            <img class="img1" src="../../../../../assets/img/google-plus.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; ">
            <img class="img1" src="../../../../../assets/img/spotify.png"
              style="width: 30px; height: 30px; margin-top: 20px; margin-bottom: 20px; margin: 15px; ">



          </div>
        </div>
      </div>

    </div>
    <div class=" col-md-6">
      <div class=" card" style="margin-top: 50px;">
        <div class=" card-body">
          <div class="card" style="width:auto;">
            <div class=" card-header">
              <h4 class=" card-title">Get In Touch</h4>
            </div>
            <form #form="ngForm" (ngSubmit)="onsubmit(form)">
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label>Name </label>
                    <input class=" form-control" placeholder="Your name" type="text" #name="ngModel"
                      [(ngModel)]="addmessages.name" name="name" />

                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label>Email</label>

                    <input class=" form-control" placeholder="Email " type="text" #email="ngModel"
                      [(ngModel)]="addmessages.email" name="email" />


                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Message </label>
                    <textarea class=" form-control" cols="80" placeholder="Enter your message" rows="4" value="Mike"
                      #message="ngModel" [(ngModel)]="addmessages.message" [ngModelOptions]="{standalone: true}"
                      name="message">
                </textarea>
                  </div>
                </div>
              </div>

              <div class=" card-footer">
                <!-- <button style="width: 170px;" class=" btn btn-fill btn-warning" type="submit"
                  value="submit">Send</button> -->
                <button class=" btn btn-fill btn-warning" style="width: 170px;" type="submit" value="submit"
                  name="submit">Send</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>


  <app-homefooter></app-homefooter>