<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <center>
        <img alt="Profile Photo" src="assets/img/last.png" width="15%" />
        <br>
        <br />
        <div style="font-size: 20px;">
          Version 1.0.0 <br>
          Developed By Group 28<br />
        </div>
      </center>
      <br />
      <br />
    </div>
  </div>

  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">User Registration</h5>
              <h2 class=" card-title">Performance</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">

  </div>
</div>